<div class="col s12 m6 l4">
    <div class="card medium" style="background-image:url('../images/placeholder.svg');">
        <div class="card-action center-align">
            <a href="/recipe/1" class="grey-text text-darken-3">This is a link</a>
        </div>
    </div>
</div>