<div class="row">
    <div class="col s12 center-align">
        <div class="card">
            <div class="card-content center-align">
                <h6>{{error}}</h6>

                {{#if include_login_button}}
                <div class="margin-top">
                    <a href="/login" class="waves-effect waves-light btn deep-orange darken-2">Log in or Sign Up</a>
                </div>
                {{/if}}

                {{#if include_add_recipe_button}}
                <div class="margin-top">
                    <a href="/recipe/add" class="waves-effect waves-light btn deep-orange darken-2">Add a drink</a>
                </div>
                {{/if}}

                {{#if include_homepage_button}}
                <div class="margin-top">
                    <a href="/" class="waves-effect waves-light btn deep-orange darken-2">Return to the homepage</a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>