<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Cocktails</a>
      </h1>
      <nav>
        <a href="/login">login</a>
      </nav>
    </header>
    <main>
      Hello
    </main>
    <footer>
      <a href="https://github.com/hanzul">Hani Ghaderi</a> 
      Christian Vavuris
      <a href="https://github.com/vanessalane">Vanessa Lane</a>
      © 2020
    </footer>
  </div>
</body>

</html>
