<div class="card">
  <section class="card-content">
    <div class="row">
      <h4 class="center-align blue-grey-text text-darken-3">Add a New Drink Recipe</h4>
    </div>

    <form class="add-recipe-form" >
        <div class="row">
            <h6 class="blue-grey-text text-darken-3">Drink Name</h6>
            <br>
            <div class="input-field col s12">
                <input id="recipe-name" type="text" class="validate" required=""></input>
                <label for="recipe-name">What's the name of the drink?</label>
                <span class="helper-text" data-error="required"></span>
            </div>
        </div>

        <div class="row">
            <h6 class="blue-grey-text text-darken-3">Ingredients</h6>
            <br>
            <div id="ingredient-section" class="col s12">
                <div class="row ingredient-inputs">
                    <div class="col s12 m4 l5 input-field ingredient-amount-container">
                        <input id="ingredient-amount-1" type="text" class="validate ingredient-amount" required=""></input>
                        <label for="ingredient-amount-1" class="ingredient-amount-label">Amount (e.g. 2 parts)</label>
                        <span class="helper-text" data-error="required"></span>
                    </div>

                    <div class="col s12 m5 l5 input-field ingredient-name-container">
                        <input type="text" id="ingredient-name-1" class="autocomplete validate ingredient-name" required="">
                        <label for="ingredient-name-1" class="ingredient-name-label">descriptor (e.g. tonic water)</label>
                        <span class="helper-text" data-error="required"></span>
                    </div>

                    <div class="col s12 m3 l2 input-field center-align">
                        <a class="btn-floating btn green add-ingredient"><i class="material-icons">content_copy</i></a>
                        <a class="btn-floating btn red remove-ingredient hidden"><i class="material-icons">delete</i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="recipe-instructions-container">
            <h6 class="blue-grey-text text-darken-3">Instructions</h6>
            <br>
            <div class="input-field col s12">
                <textarea id="recipe-instructions" class="materialize-textarea validate" required=""></textarea>
                <label for="recipe-instructions">How do you prepare the drink?</label>
                <span class="helper-text" data-error="required"></span>
            </div>
        </div>
        
        <div class="row" id="recipe-image-container">
            <h6 class="blue-grey-text text-darken-3">Add an Image</h6>
            <br>
            <div class="file-field input-field">
                <div class="btn-small deep-orange darken-2">
                    <span>file</span>
                    <input type="file" id="file-input">
                </div>
                <div class="file-path-wrapper">
                    <input id="recipe-image-filename" name="recipe-image-filename" class="file-path validate" type="text">
                    <label>file path to your image</label>
                </div>
            </div>
        </div>

        <div class="row center-align" id="submit-container">
            <div class="input-field">
                <button type="submit" class="btn-large deep-orange darken-2">Add Recipe</button>
            </div>
        </div>
    </form>
  </section>
</div>

<div class="margin-top center-align">
    <a href="/" class="waves-effect waves-light btn grey">View All Recipes</a>
</div>

<script src="/javascript/add-recipe.js"></script>
