{{#if error}}
    {{> error_card}}
{{else}}
<div class="body-content">
    <div class="row">
    {{#each recipes}}
        {{> recipe_card }}
    {{/each}}
    </div>
</div>

<div class="center-align">
    <a href="#" class="waves-effect waves-light btn blue-grey">Back to Top</a>
</div>

{{/if}}