<div class="row">
    <div class="col l8 s12 offset-l2">
        <div class="row card">
            <div class="col l10 s12 offset-l1 card-content">
                <div class="card-title">
                    <h4 class="auth-card-title center-align blue-grey-text text-darken-3">Log In</h4>
                </div>
                <form class="auth-form">
                    <div class="row">
                        <div class="input-field col s12 auth-email-container">
                            <input id="auth-email" type="email" class="validate" required="">
                            <label for="auth-email">Email</label>
                            <span class="helper-text" data-error="required"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 auth-username-container hidden">
                            <input id="auth-username" type="text" class="validate" required="">
                            <label for="auth-username">Username</label>
                            <span class="helper-text" data-error="required"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 auth-password-container">
                            <input id="auth-password" type="password" class="validate" required="">
                            <label for="auth-password">Password</label>
                            <span class="helper-text" data-error="required"></span>
                        </div>
                    </div>
                    <div class="row center-align">
                        <p class="red-text center-align" id="auth-error"></p>
                        <div class="col s12 input-field">
                            <a class="waves-effect deep-orange darken-2 waves-light btn-large btn-login">Log In</a>
                            <a class="waves-effect deep-orange darken-2 waves-light btn-large btn-signup">Sign Up</a>
                        </div>
                        <div class="input-field col s12">
                            <a class="center waves-effect blue-grey-text text-darken-3 btn-flat btn-create-account">Create an Account</a>
                            <a class="center waves-effect blue-grey-text text-darken-3 btn-flat btn-login-instead">I have an account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>