* {
    font-family: 'Alata', sans-serif;
    text-transform: lowercase !important;
    scroll-behavior: smooth;
}

/* start materialize sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/* end materialize sticky footer */


/* start nav bar styles */
nav {
    padding-left: 16px;
}
/* end nav bar styles */


/* start hero styles */
.hero-container {
    height: 65vh;
}

.hero-content-container {
    height: 50%;
    width: 100%;
}

.hero-title {
    margin: 10px auto 20px;
}
/* end hero styles */

/* body content styles */
.body-content {
    margin: 8vh auto;
}
.card {
    background-size: cover;
    background-position: center;
}
a:hover{
    opacity: 75%;
}
nav a:hover {
    opacity: 100%;
}
/* end body content styles */
