* {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    margin: .656rem 0;
    font-family: 'Kumbh Sans', sans-serif;
}

h1 {
    font-size: 10vh;
}

/* start materialize sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/* end materialize sticky footer */


/* start nav bar styles */
nav {
    padding-left: 16px;
}
/* end nav bar styles */


/* start hero styles */
.hero-container {
    height: 65vh;
}

.hero-content-container {
    height: 50%;
    width: 100%;
}

.hero-title {
    padding: 20px;
}
/* end hero styles */

/* body content styles */
.body-content {
    margin: 8vh auto;
}
.card {
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.margin-top {
    margin-top:  4vh;
}
.card .card-content .card-title {
    margin-bottom: 6vh;
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    display: none;
}
.input-field {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
#instructions {
    white-space: pre-line;
}
.recipe-image {
    background-size: cover;
    background-position: center;
    margin: auto;
}
.row {
    margin-bottom: 0px;
}
a:hover{
    opacity: 75%;
}
nav a {
    font-family: 'Kumbh Sans', sans-serif;
}
nav a:hover {
    opacity: 100%;
}
button {
    white-space: nowrap;
}
button, input, textarea {
    font-family: 'Alata', sans-serif;
}
.waves-effect {

    white-space: nowrap;
}
/* end body content styles */
